body {
  background-color: rgb(250, 209, 217);
  font-family: "Roboto", sans-serif;
}

.weather-app-container {
  background-color: white;
  border-radius: 10px;
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 30px 50px rgb(65, 50, 100, 0.08);
  padding: 40px;
}

header {
  padding: ;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 50px;
}

.search-form-input {
  background-color: rgb(252, 230, 234);
  border: none;
  border-radius: 10px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background-color: rgb(216, 131, 160);
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  margin: 5px;
}

.weather-app-data {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

footer {
  padding-top: 30px;
  text-align: center;
  font-size: 13px;
  color: rgb(114, 114, 114);
}

a {
  color: rgb(216, 131, 160);
}
